<div>
  <p>Website currently in alpha. New features are currently in development and website will be updated over time.</p>
</div>

<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-default p-3 shadow-sm">
  <div class="container">
    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
      <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Hamburger_icon.svg" alt="">
    </button>
    <a class="navbar-brand" href="/"><i class="fa-solid fa-shop me-2"></i> <strong>EDCATUS</strong></a>

    <div class=" collapse navbar-collapse" id="navbarNavDropdown">
      <div class="ms-auto d-none d-lg-block">
        <div class="input-group">
          <span class="border-warning input-group-text bg-warning text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
          <form action="/catalogue" class="d-flex">
            <input type="text" class="form-control border-warning" style="color:#7a7a7a" name="subject">
            <button class="btn btn-warning text-white">Search</a>
          </form>
          
          
        </div>
      </div>
      <ul class="navbar-nav ms-auto ">
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="/catalogue">Catalogue</a>
        </li>
        <% if(currentUser) {%> 
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/catalogue/new-resource">Create Resource</a>
          </li>
        <% } %>
        <li class="nav-item">
          <a class="nav-link mx-2 text-uppercase" href="/about">About</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="/cart">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6UP3N0VDTz4DtPE329ozzP3nLADQD6LUtNklaLPQ&s"
              width="40%"
              alt="Shopping Cart"
              loading="lazy"
            />
          </a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto ">
        <% if(!currentUser) {%> 
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/register"><i class="fa-solid fa-circle-user me-1"></i>SIGN UP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/login"><i class="fa-solid fa-circle-user me-1"></i>LOGIN</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <%=currentUser.username%>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                <li><a class="dropdown-item" href="/purchase-history">My Purchases</a></li>
                <li><a class="dropdown-item" href="#">My Collections</a></li>
                <li><a class="dropdown-item" href="#">My Wish List</a></li>
                <li><a class="dropdown-item" href="#">Gift Cards</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2 text-uppercase" href="/logout"><i class="fa-solid fa-circle-user me-1"></i>LOGOUT</a>
          </li>
          <% } %> 
      </ul>
    </div>
  </div>
</nav>