<div class="offcanvas offcanvas-top" data-bs-scroll="false" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel" style="height: 40%">
    <div class="offcanvas-header">
    <p></p>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" >
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Subjects</h5>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <a href="/catalogue?subject=Maths" style="text-decoration: none;">Maths</a>
                    <a href="/catalogue?subject=English" style="text-decoration: none;">English</a>
                    <a href="/catalogue?subject=Science" style="text-decoration: none;">Science</a>
                    <a href="/catalogue?subject=Chinese" style="text-decoration: none;">Chinese</a>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Levels</h5>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <a href="/catalogue" style="text-decoration: none;">Level 1</a>
                    <a href="/catalogue" style="text-decoration: none;">Level 2</a>
                    <a href="/catalogue" style="text-decoration: none;">Level 3</a>
                    <a href="/catalogue" style="text-decoration: none;">Level 4</a>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-row align-items-center justify-content-center">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Resource Type</h5>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <a href="/catalogue" style="text-decoration: none;">Presentation</a>
                    <a href="/catalogue" style="text-decoration: none;">Audio</a>
                    <a href="/catalogue" style="text-decoration: none;">Test</a>
                    <a href="/catalogue" style="text-decoration: none;">PDF Document</a>
                </div>
            </div>
        </div>
        
    </div>
</div>