<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-12 d-flex flex-column align-items-center justify-content-start">
            <div class="d-flex flex-column align-items-center justify-content-start" >
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ2rbkECuMMDsi5Ayyrq_l33zwqmfZtfY-22Ok7W8&s" alt="">
                <div class="d-grid gap-3 my-5">
                    <h5>Username: <%=username %></h5>
                    <h5>First Name <% currentUser.firstName %></h5>
                    <h5>Last Name <% currentUser.lastName %></h5>
                    <h5>Location <% currentUser.location %></h5>
                    <h5>Educational Institution <% currentUser.institution %></h5>
                    <div class="mx-5 d-flex d-grid gap-3 flex-row align-items-center justify-content-center">
                        <a type="button" class="btn btn-primary" href="/new-announcement" >Create Announcement</a>
                        <a type="button" class="btn btn-primary" href="/edit-profile" >Edit Profile</a>
                    </div>
                </div>
                
            </div>
            <h3>Announcements</h3>
            <div class="card mb-3 mx-auto col-md-auto" style="width: 60rem;">
                <div class="row">
                    <div class="card-body border border-dark">
                        <h5 class="card-title">Announcement Title</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo maxime voluptates accusamus facilis, atque expedita reprehenderit? Harum earum quam minus? Illo adipisci ab dolor porro, odit magni ratione quas nihil.> </p>
                    </div>
                    <div class="card-body">
                        <a type="button" class="btn btn-primary" href="/edit-announcement">Edit Announcement</a>
                        <a type="button" class="btn btn-primary" href="/delete-announcement">Delete Announcement</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col"></div>
    </div>
    

</div>