<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-12 d-flex flex-column align-items-center justify-content-start">
            <div class="d-flex flex-column align-items-center justify-content-start" >
                <h1>Purchase History</h1>
                <div class="d-grid gap-3 my-5">
                    <div class="card mb-3 mx-auto col-md-auto border border-dark" style="width: 60rem;">
                        <div class="row">
                            <div class="col">
                                <h5>Resource Name</h5>
                            </div>
                            <div class="col">
                                <h5>Amount Paid</h2>
                            </div>
                            <div class="col">
                                <h5>Date Purchased</h2>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>
                <div class="d-grid gap-3">

                        <div class="card mb-3 mx-auto col-md-auto border border-dark" style="width: 60rem;">
                            <div class="row">
                                <div class="col">
                                    <h5>Resource Name</h5>
                                </div>
                                <div class="col">
                                    <h5>$10</h5>
                                </div>
                                <div class="col">
                                    <h5>13-07-2023</h5>
                                </div>
                                <div class="col">
                                    <a class="btn btn-primary" href="https://mercatus-test.s3.ap-southeast-1.amazonaws.com/sample_presentation.pptx">Download</a>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>